:root {
    --bg-strong-950: #0e121b;
    --bg-white-0: #fff;
    --text-strong-950: #0e121b;
    --text-sub-600: #525866;
    --text-soft-400: #99a0ae;
    --stroke-soft-200: #e1e4ea;
    --radius-24: 24px;
    --radius-8: 8px;
    --radius-6: 6px;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-16: 16px;
  }
  
  